.hand {
    display: inline-block;
    list-style: none;
}

.hand li {
    float: left;
}

.score {
    
    font-size: 25px;
    text-align: center;
    vertical-align: center;
    width: 72px;
    height: 96px;
    line-height: 96px;
}

#winner {
    
    font-size: 25px;
    font-family: serif;
}

.playButton {
    
    background-color: green;
    text-decoration: none;
    font-size: 30px;
    border: solid black 2px;
}

.playerImg {
    
    width : 72px;
    height: 96px;
    padding-right: 20px;
}

.card {
    
    border: solid black 1px;
    margin: 2px;
}

h1 {
    
    color: gray;
    opacity: 0.5;
    text-align: center;
}

html {
    
    padding: 50px;
}

body {
    
    margin: 2px;
}

div {
    
    background-color: green;
}